<div class="cart-page">
    <% if(session.cart) { %>
        <div class="cart-top">
            <div class="cart-img">
                <img src="/images/cart-black.png" alt="">
            </div>
            <div class="order-title">
                <h3>Order Summary</h3>
            </div>
        </div>
        <hr>
        <div class="cart-middle">
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <% let stocks=Object.values(session.cart.items) %>
                        <% stocks.forEach(stock=>{%>
                            <tr>
                                <td style="justify-content: space-between;">
                                    <img src="/images/<%= stock.item.image %> " alt="">
                                    <p>
                                        <%= stock.item.name %>
                                    </p>
                                </td>
                                <td>
                                    <%= stock.qty %>
                                </td>
                                <td>
                                    $ <%= stock.qty*stock.item.price %>.00
                                </td>
                            </tr>
                            <% })%>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="cart-bottom">
            <div class="amount">
                <h3>Total Amount:</h3>
                <h3 id="total-amount">$ <%=session.cart.totalPrice %>.00
                </h3>
            </div>
            <% if(user){ %>
                <form id="order" action="/orders" method="POST">
                    <div class="user-inputs">
                        <input name="phone" type="text" placeholder="Phone Number">
                        <input name="address" type="text" placeholder="Address">
                    </div>
                    <a onclick="document.querySelector('#order').submit()" class="btn" style="margin: 20px 0;">Order Now
                        &#8594</a>
                </form>
                <% } else { %>
                    <div><a href="/account/login" class="btn">Login to order &#8594</a></div>
                    <% } %>
        </div>
        <% } else { %>
            <div class="empty-cart">
                <img src="/images/emptycart.png" alt="">
                <p>Your cart is empty</p>
                <a class="btn" href="/products">Start Shopping &#8594</a>
            </div>
            <% } %>
</div>