<div class="cart-page">
    <h3>Order Summary</h3>
    <hr>
    <div class="cart-middle">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <% let totalAmt=0 %>
                    <% items.forEach(item=>{%>
                        <tr>
                            <td class="first-column">
                                <div class="left">
                                    <img src="/images/<%= item.item.image %> " alt="">
                                </div>
                                <div class="right">
                                    <p>
                                        <%= item.item.name %>
                                    </p>
                                </div>
                            </td>
                            <td class="second-column">
                                <div class="left">
                                    <p>
                                        <%= item.qty %>
                                    </p>
                                </div>
                            </td>
                            <td>
                                $ <%= item.qty*item.item.price %>.00
                                    <% totalAmt+=item.qty*item.item.price %>
                            </td>
                        </tr>
                        <% })%>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="order-bottom">
        <div class="details">
            <h4>Order Details</h4>
            <div>
                <div class="left">
                    <h5>Order Date</h5>
                    <h5>Order Total</h5>
                    <h5>Shipping Address</h5>
                </div>
                <div class="right">
                    <p>
                        <%= date %>
                    </p>
                    <p>
                        $ <%= totalAmt %>.00
                    </p>
                    <p>
                        <%=address %>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="details">
            <h4>Payment information</h4>
            <div>
                <div class="left">
                    <h5>Payment Type</h5>
                </div>
                <div class="right">
                    <p>
                        COD(Cash on Delivery)
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a href="/orders" class="btn">Go back &#8594</a>
        </div>
    </div>
</div>